@import 'theme/libs/vars';
@import 'theme/libs/functions';
@import 'theme/libs/mixins';
@import 'theme/libs/vendor';
@import 'theme/libs/breakpoints';
@import 'theme/libs/html-grid';

// Breakpoints.

@include breakpoints((
	default:   (1681px,   null     ),
	xlarge:    (1281px,   1920px   ),
	large:     (1153px,   1280px   ),
	medium:    (737px,    1152px   ),
	small:     (481px,    736px    ),
	xsmall:    (361px,    480px    ),
	xxsmall:   (null,     360px    )
));

// Base.

@import 'theme/base/reset';
@import 'theme/base/page';
@import 'theme/base/typography';

// Component.

@import 'theme/components/row';
@import 'theme/components/box';
@import 'theme/components/button';
@import 'theme/components/form';
@import 'theme/components/icon';
@import 'theme/components/image';
@import 'theme/components/list';
@import 'theme/components/actions';
@import 'theme/components/icons';
@import 'theme/components/table';
@import 'theme/components/arrow';
@import 'theme/components/gallery';
@import 'theme/components/feature-icons';

// Layout.

@import 'theme/layout/wrapper';


// Vendor.

@import 'vendor/slick';
@import 'vendor/slick-theme';



// CUSTOM MILHOMEN
@import "custom/header";
@import "custom/button";
@import "custom/icons";
@import "custom/slider";
